body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c1e1ec;
}

h1{
  text-align: center;
}

#title {
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
}

.buttonWhite {
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: context-menu;
  }
  
  .buttonBlack {
    border: 1px solid black;
    background-color: black;
    color: black;
    text-align: center;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: context-menu;
  }
  .rowNumber {
    display: inline-block;
    margin: 0px;
    width: 25px;
    height: 29px;
    line-height: 30px;
  }
  .columnNumber {
    display: inline-block;
    margin: 0px;
    width: 27px;
    height: 18px;
    text-align: center;
  }

  #row {
      display:flex;
      margin: 0;
      vertical-align: middle;
      justify-content: center;
      text-align: center;
  }
  #topRow {
    display:flex;
    margin: 0;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
}

#instructions {
  display:flex;
  justify-content: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 24px;
  padding-top: 15px;
}

#clues {
  display:flex;
  justify-content: center;
  padding-top: 20px;
  margin-left: 220px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#across {
 width: 400px;
 display:flex;
}

#across>p {
  margin: 0px;
 }

#down {
  width: 400px;
  display:flex;
}

#down>p {
  margin: 0px;
 }

.clues {
  font-size: 18px;
  padding-left: 5px;
 }
 .numbers {
  font-size: 18px;
  text-align: right;
 }
 #clueContainer {
   display: flex;
   flex-direction: column;
 }

 h2 {
   margin: 0;
   padding-left: 30px;
 }
 
 .input1 {
  position: absolute;
  margin-left: -211px;
  font-size: 12px;
}

 .input2 {
   position: absolute;
   padding-left: 12px;
   font-size: 12px;
 }

 .input3 {
  position: absolute;
  margin-left: 140px;  
  font-size: 12px;
}

.input4 {
  position: absolute;
  margin-left: -265px;
  font-size: 12px;
}

.input5 {
  position: absolute;
  margin-left: -157px;
  font-size: 12px;
}

.input6 {
  position: absolute;
  margin-left: -211px;
  font-size: 12px;
}

.input7 {
  position: absolute;
  margin-left: -49px;
  font-size: 12px;
}

.input8 {
  position: absolute;
  margin-left: 5px;
  font-size: 12px;
}

.input9 {
  position: absolute;
  margin-left: 141px;
  font-size: 12px;
}

.input10 {
  position: absolute;
  margin-left: 223px;
    font-size: 12px;
}

.input11 {
  position: absolute;
  margin-left: 87px;
  font-size: 12px;
}

.input12 {
  position: absolute;
  margin-left: -236px;
  font-size: 12px;
}

.input13 {
  position: absolute;
  margin-left: -209px;
  font-size: 12px;
}

.input14 {
  position: absolute;
  margin-left: 142px;
  font-size: 12px;
}

.input15 {
  position: absolute;
  margin-left: 169px;
  font-size: 12px;
}

.input16 {
  position: absolute;
  margin-left: -155px;
  font-size: 12px;
}

.input17 {
  position: absolute;
  margin-left: 61px;
  font-size: 12px;
}

.input18 {
  position: absolute;
  margin-left: -128px;
  font-size: 12px;
}

.input19 {
  position: absolute;
  margin-left: -20px;
  font-size: 12px;
}

.input20 {
  position: absolute;
  margin-left: 224px;
  font-size: 12px;
}

.input21 {
  position: absolute;
  margin-left: 8px;
  font-size: 12px;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: lightcoral;
}